<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theoreticsinc.schoolapp"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.theoreticsinc.schoolapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.theoreticsinc.standrewsmobile.permission.C2D_MESSAGE" />

    <application
        android:name="com.theoreticsinc.schoolapp.StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.theoreticsinc.schoolapp.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.AlertsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.DrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.SASLifeActivity"
            android:label="@string/title_activity_sas_life"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.NotificationReceiverActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.theoreticsinc.schoolapp.utils.MyReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.theoreticsinc.standrewsmobile" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.theoreticsinc.schoolapp.activities.PhilosophyActivity"
            android:label="@string/title_activity_philosophy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.MinistryActivity"
            android:label="@string/title_activity_ministry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.PastoralMinistryActivity"
            android:label="@string/title_activity_pastoral_ministry" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.SpiritualFormation"
            android:label="@string/title_activity_spiritual_formation" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.ClubActivity"
            android:label="@string/title_activity_club" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.SchoolIDActivity"
            android:label="@string/title_activity_school_id" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.HandbookActivity"
            android:label="@string/title_activity_handbook" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.VenueRegActivity"
            android:label="@string/title_activity_venue_reg" >
        </activity>
        <activity
            android:name="com.theoreticsinc.schoolapp.activities.NotificationActivities"
            android:label="@string/title_activity_notification_activities" >
        </activity>
    </application>

</manifest>
